.time { padding: 10px 10px 0 10px; background: #f6f6f6; }
	.time_title { float: left; font-size: 24px; line-height: 40px; font-weight: bold; color: #666666; }
	.time_content { float: left; margin: 0 0 0 20px; line-height: 40px; }

.key { margin-top: 10px; padding: 10px; background: #f6f6f6; }
  .key_title { font-size: 24px; line-height: 40px; font-weight: bold; color: #666666; }
  .key_content { margin-top: 10px; }
	  .key_content label { float: left; width: 130px; font-size: 12px; }

.series { margin-top: 10px; padding: 10px; background: #f6f6f6; }
	.series_title { font-size: 24px; line-height: 40px; font-weight: bold; color: #666666; }
		.series_title span { background: #21ac94; margin: 0 0 0 10px; padding: 3px; font-size: 14px; color: #ffffff; }
	.series_content { margin-top: 10px; }

.chart { margin-top: 30px; padding: 10px; background: #f6f6f6;}
	.chart_title { font-size: 24px; line-height: 40px; font-weight: bold; color: #666666; }
	.chart_content { height: 720px; }
