input[type="text"] { padding-top: 19px; padding-bottom: 19px; }

.wrapper { margin: 30px auto 0 auto; width: 960px; }
	.wrapper_content { margin: 50px 0 50px 0; padding: 0 0 50px 0; }

.mark { padding: 0 10px; }
	.mark_title { margin: 20px 0 10px 0; padding: 15px 0 15px 10px; font-size: 20px; background: #ffffff; font-weight: bold; }
		.mark_title button { float: right; margin: -3px 10px 0 0; }
	.mark_result { margin: 20px 0 10px 0; padding: 15px 0 15px 10px; background: #ffffff; }
		.mark_result iframe { display: block; margin: 0 auto; width: 360px; height: 450px; border: 0; }
	.mark_input { margin: 10px 0 0 0; }
	.mark_selection { margin: 20px 0 0 0; }
		.mark_selection > button { float: left; margin: 0 25px 5px 0; padding-top: 9px; padding-bottom: 9px; width: 45%; background: #ffffff; text-align: left; font-size: 12px; }

.review { padding: 0 10px; }
	.review_title { margin: 20px 0 10px 0; padding: 15px 0 15px 10px; font-size: 20px; background: #ffffff; font-weight: bold; }
	.review_rank { margin: 20px 0 10px 0; }
		.review_rank > label { margin: 0 0 5px 0; padding: 10px 0 10px 30px; border: 1px solid #dddddd; background: #ffffff; }
		.review_rank > label > div { display: none; }
		.review_rank_reason { margin: 10px 0 0 15px; }
	.review_comment { margin: 10px 0 0 0; height: 140px; }