.necker { background: #e6e6e6; }
	.necker p { margin: 10px 0; }
	.banner { position: relative; margin: 0 0 10px 0; padding: 10px 4% 5px 4%; background: #21ac94; color: #ffffff; text-shadow: 1px 1px 1px #666666; }
		.banner img { position: absolute; right: 3%; top: 20px; }
	.option { padding: 10px 3% 10px 3%; }
		.option_catalog { position: relative; float: left; padding: 0 2% 0 0; width: 35%; }
			.option_catalog_title { padding: 10px 15px; background: #ffffff url(../img/select.png) no-repeat 100% 100%; background-size: 8px; font-size: 16px; color: #999999; }
			.option_catalog_list { display: none; position: absolute; top: 40px; left: 0; width: 120px; border-right: 1px solid #e6e6e6; background: #f3f3f3; -moz-box-shadow: 1px 1px 3px #777777; -webkit-box-shadow: 1px 1px 3px #777777; box-shadow: 1px 1px 3px #777777; }
				.option_catalog_list > li { position: relative; padding: 7px 5%; width: 90%; border-bottom: 1px solid #e6e6e6; background: url(../img/arrowright.png) no-repeat 101% 50%; background-size: 25px; }
					.option_catalog_list > li > ul { display: none; position: absolute; top: 0; left: 121px; width: 200px; background: #f3f3f3; -moz-box-shadow: 1px 1px 3px #777777; -webkit-box-shadow: 1px 1px 3px #777777; box-shadow: 1px 1px 3px #777777; }
						.option_catalog_list > li > ul > li { padding: 7px 5%; border-bottom: 1px solid #e6e6e6; }
		.option_search { float: left; padding: 0 0 0 2%; width: 55%; }
			.option_search input { margin: 0; width: 102%; background: #ffffff; }
	.div1 { }
		.div1_left { float: left; margin: 0 1.5% 0 3%; width: 61%; }
			.div1_left_div1 { margin: 0 0 5px 0; padding: 0 10px; border: 1px solid #cccccc; background: #f3f3f3; }
		.div1_right { float: right; margin: 0 3% 5px 1.5%; width: 30%; }
			.div1_right img { float: right; height: 88px; }
	.div2 { padding: 0 0 5px 0; background: #e6e6e6; }
		.div2_div1 { margin: 0 3% 0 3%; padding: 0 3%; border: 1px solid #cccccc; background: #f3f3f3; }